if status is-interactive
  # Commands to run in interactive sessions can go here
  starship init fish | source

  set -gx fish_greeting
  set -gx EDITOR nvim
  {{- if eq .chezmoi.os "darwin"}}
  set -gx HOMEBREW_BREWFILE ~/.Brewfile
  {{- end}}
  # pnpm
  set -gx PNPM_HOME "/Users/zhuwei/Library/pnpm"
  set -gx PATH "$PNPM_HOME" $PATH
  # pnpm end
end
