if status is-interactive
    # Commands to run in interactive sessions can go here
  starship init fish | source

  set -gx fish_greeting
  set -gx EDITOR nvim
  {{- if eq .chezmoi.os "darwin"}}
  set -gx HOMEBREW_BREWFILE ~/.Brewfile
  {{- end}}
end
