# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false
command_timeout = 2000

[kubernetes]
disabled = false

[git_branch]
symbol = "ï˜ "
